.main { text-align: center;color: blue;}
.mid { text-align: center;color:blueviolet;}
.para {background-color: chartreuse;
color:royalblue;
text-align: center;}
.one { height: 300px; background-image: url(air-jordan-hoodie-worn-by-man-wearing-purge-mask-with-neon-lights-super-cool-wallpapers-holding-pink-smoke-bomb.jpg );
background-attachment: fixed;background-size: cover;background-position: center;
}
table{width: 100%;border-collapse: collapse; }
tr,td,th{text-align: center; border: 5px  solid  darkorange ;
    color: blueviolet; 

}

